*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(221, 166, 247);
}
body{
    background-color: rgb(72, 6, 100);
}
fieldset{
    text-align: left;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    padding: 30px;
    
}
legend{
    font-size: 40px;
    text-align: center;
    transition: 2s;
}
label{
    font-size: 25px;
    
}
input{
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(72, 6, 100);
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
}
#but{
    width: 200px;
    border: 0;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(221, 166, 247);
    transition: 0.5s;
    display: block;
    margin-inline: auto;
    color: black;
}
#but:hover{
    background-color: purple;
}
